body {
  overflow-x: hidden;
}

#root {
  overflow: hidden;
}

.shadow-button {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 0px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s;
}
.shadow-button:hover {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5), inset 0 4px 10px rgba(0, 0, 0, 0.5);
}

.navbar-blur {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

@media (max-width: 459px) {
  .sns-footer-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
